.header {
    text-align: center;
    padding: 10px;
    margin: 100px 100px 10px 100px;
    
    background-color: lightgrey;
}

.container{
    text-align: left;
    margin: auto;
    padding: 10px 0px 10px 10px;
    border: 2px teal solid;
    background-color: white;
}